.root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.titleContainer {
  display: flex;
  align-items: center;
  flex: 1;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 800;
  color: #ce9ca8;
  white-space: nowrap;
  flex: 1;
}

.titleContent {
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: 800;
  line-height: 1;
}

.countdown {
  @extend .titleContent;
  font-weight: 400;
}

.inputContainer {
  display: flex;
  padding: 20px;
  line-height: 22px;
  justify-content: center;

  @media (orientation: portrait) {
    flex-direction: column;
  }
}

.titleInputContainer {
  margin-right: 28px;
  @media (orientation: portrait) {
    margin-bottom: 20px;
  }
}
