<div class="root">
  <div class="titleContainer">
    <div class="titleWrapper">
      <span class="titleContent">Time to {{ title }}</span>
      <span class="countdown">{{ countdown }}</span>
    </div>
  </div>

  <div class="inputContainer">
    <mat-form-field
      class="titleInputContainer"
      floatLabel="auto"
      appearance="outline"
    >
      <input
        matInput
        #titleInput
        (keyup)="setTitle(titleInput.value)"
        class="titleInput"
        value="{{ title }}"
        placeholder="Enter a title"
      />
      <mat-label class="label">Title</mat-label>
    </mat-form-field>

    <mat-form-field
      class="dateInputContainer"
      floatLabel="auto"
      appearance="outline"
    >
      <input
        matInput
        #dateInput
        (keyup)="setDate(dateInput.value)"
        class="dateInput"
        value="{{ eventDate }}"
        placeholder="YYYY-MM-DD"
      />
      <mat-label class="label">Date</mat-label>
    </mat-form-field>
  </div>
</div>
